/* style the Header  */

* {
  font-family: "Madimi One", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  font-family: "Madimi One", sans-serif;
  font-size: 18px;
  display: flex;
  top: 0%;
  background-color: #265073;
  padding: 10px 10px;
  z-index: 1;
  width: 100%;
}
header nav {
  align-items: center;
  display: flex;
}
header ul {
  display: flex;
}
header ul li {
  list-style-type: none;
  margin: 10px;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #fff;
}

.search input {
  flex: 1;
  width: 200px;
  padding: 10px;
  margin-left: 590px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

header button {
  padding: 10px 10px;
  background-color: #9ad0c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
header select {
  font-size: 16px;
  padding: 10px 10px;
  background-color: #265073;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
/* style the Footer  */
.top_footer {
  background-color: #265073;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.top_footer ul,
.under_footer ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.top_footer img {
  width: 100px;
  height: auto;
}
.top_footer h4 {
  margin-bottom: 10px;
}
.top_footer a,
.under_footer a {
  color: #c5c0c0;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}
.top_footer a:hover,
.under_footer a:hover {
  color: #ffffff;
}

/* style the landig video  */
.Featured_Movie {
  background-color: #265073;
}
.Featured_Movie video {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* Hide video controls */
.Featured_Movie video::-webkit-media-controls {
  display: none;
}
.Featured_Movie video::-webkit-media-controls-enclosure {
  display: none;
}
.New_Release {
  background-color: #265073;
  color: #fff;
  padding: 10px;
}
.playnow {
  padding: 10px 30px;
  background-color: #9ad0c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.watchlater {
  padding: 10px 10px;
  background-color: #265073;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  text-decoration: none;
}
.paraghraph {
  display: flex;
}
.paraghraph p {
  margin-right: 10px;
}
.movieheader {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}
.movieheader a {
  font-size: x-large;
  margin-left: 83%;
}
.movies {
  display: flex;
  overflow: auto;
  color: #265073;
}
.movies div {
  background-color: #9ad0c2;
  margin: 10px;
  padding: 10px;
}

.movies div a {
  color: #265073;
}
.desc {
  position: absolute;
  top: 35%;
  left: 8%;
  font-size: x-large;
  color: #fff;
  font-family: "Madimi One", sans-serif;
  width: 37%;
}
.desc h1 a {
  font-size: 60px;
  color: #9ad0c2;
  font-family: "Madimi One", sans-serif;
  padding-top: 10px;
}
.desc p {
  padding: 20px 0px;
}
.under_footer {
  display: flex;
  align-items: center;
  border-top: 0.5px solid;
  border-color: #9ad0c2;
  background-color: #265073;
  padding: 0px 20px;
  justify-content: space-between;
  color: #fff;
}
.under_footer ul {
  display: flex;
}
.under_footer ul li {
  margin-left: 10px;
}
/* style of movies page */
.mainMovies {
  color: black;
  top: 50%;
}
.mainMovies a {
  color: #265073;
}
.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
